@model EfWebTutorial.Viewmodels.Groups.GroupViewModel

<h2 class="head_addstudent">Добавление группы</h2>

@using(Html.BeginForm("Create", "Group", FormMethod.Post)) {

    <div class="container container2">
  
            <div class="row">
                <div class="col-25">
                    <p class="label">Group Name</p>
                </div>
                <div class="col-75">
                    <input type="text" id="fname" name="Group.Name" placeholder="Enter group name">
                </div>
            </div>
         
            <div class="row">
                <div class="col-25">
                    <label class ="label" for="group">Choose the faculty of the group</label>
                </div>
                <div class="col-75">
                    <select name="Group.FacultyId">
                        @foreach (var item in Model.Faculties)
                        {
                            <option value="@item.Id" selected="selected">@item.Name</option>
                        }
                        </select>
                </div>
             </div> 
     </div>

    <div class="row">
        <input type="submit" value="Submit">
    </div>

}