@model IEnumerable<EfWebTutorial.Models.Student>

<div class="welcome">
    <div class="container">
        <div class="welcome_inner">
            <div class="welcome_title"><h1>Welcome to Harvard University!</h1></div>
        </div>
    </div>
</div>

<div class="about_harvard">
    <div class="container">
        <div class="about_inner">
            <img class="about_photo" src="~/images/images.jpg"/>
            <div class="about_text">
                <p>Harvard University is a private Ivy League research university in Cambridge, Massachusetts. Founded in 1636 as Harvard College and named for its first benefactor, the Puritan clergyman John Harvard, it is the oldest institution of higher learning in the United States and one of the most prestigious and highly rated in the world.</p>

                <p>The university is composed of ten academic faculties plus Harvard Radcliffe Institute. Arts and Sciences offers study in a wide range of undergraduate and graduate academic disciplines, and other faculties offer only graduate degrees, including professional degrees. Harvard has three main campuses:the 209-acre (85 ha) Cambridge campus centered on Harvard Yard; an adjoining campus immediately across Charles River in the Allston neighborhood of Boston; and the medical campus in Boston's Longwood Medical Area. Harvard's endowment is valued at $53.2 billion, making it the wealthiest academic institution in the world. Endowment income enables the undergraduate college to admit students regardless of financial need and provide generous financial aid with no loans. Harvard Library is the world's largest academic library system, comprising 79 individual libraries holding about 20.4 million items.</p>
            </div>
        </div>
    </div>


</div>


